@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url('Fonts/Passion_One/PassionOne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url('Fonts/Sriracha/Sriracha-Regular.ttf') format('truetype');
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    background-color: black;
    width: 100%;
}

.background01 {
    background: black url('pacote-d012/imagens/background001.jpg') center right no-repeat fixed;
    background-size: cover;
}

.background02 {
    background: black url('pacote-d012/imagens/background002.jpg') center right no-repeat fixed;
    background-size: cover;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    height: 22vw;
}

header > h1 {  
    font: normal bold 10vw 'PassionOne', Arial;
}

header > p {
    font: normal bolder 16px verdana, Arial;
}

header > p > a {
    font: bold;
    color: white;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
}

div {
    height: 50vw;
}

.caixa {
    height: 100vw;
    background: white;
    padding: 8vh 3vh;
    font: normal 3.2vw 'Sriracha', Arial;
    line-height: 3.2vw;
}

.caixaPrincipal {
    height: 50vw;
    background: white;
    font: normal 3.2vw 'Sriracha', Arial;
    line-height: 3.2vw;
    padding: 10vh 3vh;
}

.textoEncaixado {
    background-color: #00000085;
    width: 38vw;
    height: 42vw;
    line-height: 3.2vw;
    text-align: left;
    padding: 1vh;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.70);
}

.caixaTransparente {
    font: normal 3.2vw 'Sriracha', Arial;
    color: white;
    padding: 10vh 3vh;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    height: 3vh;
    background-color: black;
    color: white;
    text-align: center;
    font: normal 18px Arial;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}


