@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url('Fonts/Passion_One/PassionOne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url('Fonts/Sriracha/Sriracha-Regular.ttf') format('truetype');
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    background-color: black;
    width: 100%;
}

.background01 {
    background: black url('pacote-d012/imagens/background001.jpg') center right no-repeat fixed;
    background-size: cover;
}

.background02 {
    background: black url('pacote-d012/imagens/background002.jpg') center right no-repeat fixed;
    background-size: cover;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    height: 22vw;
}

header > h1 {  
    font: normal bold 10vw 'PassionOne', Arial;
}

header > p {
    font: normal bolder 16px verdana, Arial;
}

header > p > a {
    font: bold;
    color: white;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
}

.caixa {
    height: 150vw;
    background: white;
}

.caixaPrincipal {
    height: 75vw;
    background: white;
    font: normal 3.2vw 'Sriracha', Arial;
    line-height: 3.2vw;
}

.caixa > p {
    font: normal 3.2vw 'Sriracha', Arial;
    line-height: 3.2vw;
}

div {
    height: 80vw;
}

.textoEncaixado {
    background-color: #00000065;
    width: 38vw;
    height: 45vw;
    color: white;
    font: normal 3.2vw 'Sriracha', Arial;
    line-height: 3.2vw;
    text-align: left;
    padding: 5px;
}

footer {
    width: auto;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font: normal 18px Arial;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}


